* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

input:focus {
  border: 2px solid #aba5b4; }

body {
  position: relative;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #eceaf1;
  color: #ffffff; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120rem;
  height: 90vh;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  display: flex;
  justify-content: space-between; }

.income-box {
  background-color: #2d429d;
  width: 40%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; }
  .income-box__heading {
    width: 85%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #122a95; }
    .income-box__heading--text {
      font-size: 4rem;
      text-transform: uppercase; }
  .income-box__items {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    width: 70%;
    align-self: flex-start;
    overflow: auto;
    cursor: default; }
    .income-box__items-1 {
      position: relative;
      flex-basis: 8%;
      background-color: #122a95;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1%;
      width: 100%;
      padding: 0.5rem 3rem;
      font-size: 1.5rem;
      border-radius: 0 3rem 3rem 0;
      animation: slide-up 0.4s ease; }
      .income-box__items-1--description {
        max-width: 50%;
        display: inline-block;
        overflow-wrap: break-word; }
      .income-box__items-1--value {
        max-width: 45%;
        transition: all 0.4s; }
      .income-box__items-1--delete {
        position: absolute;
        top: 55%;
        right: 5%;
        transform: translateY(-50%);
        font-size: 2rem;
        opacity: 0;
        transition: all 0.4s; }
      .income-box__items-1:hover {
        background-color: #081653; }
      .income-box__items-1:hover .income-box__items-1--value {
        transform: translateX(-3rem); }
      .income-box__items-1:hover .income-box__items-1--delete {
        opacity: 1; }

.output-box {
  position: absolute;
  left: 50%;
  width: 40%;
  height: 100%;
  transform: translate(-50%);
  background-color: #ffffff;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .output-box__display {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff; }
    .output-box__display__date {
      width: 40%;
      background-color: #eceaf1;
      align-self: flex-start;
      flex-basis: 10%;
      border-radius: 0 3rem 3rem 0;
      color: #747091;
      padding: 0 5rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem; }
    .output-box__display__screen {
      width: 60%;
      background: #f8d7ad;
      align-self: center;
      flex-basis: 20%;
      border-radius: 5rem;
      color: #747091;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      font-weight: 300; }
      .output-box__display__screen-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 20%;
        font-size: 1.5rem; }
        .output-box__display__screen-icon ion-icon {
          font-size: 3rem; }
      .output-box__display__screen-value {
        display: flex;
        flex-basis: 60%;
        justify-content: center; }
    .output-box__display__total--income {
      width: 55%;
      background: linear-gradient(to right, #2d429d, #122a95);
      align-self: flex-start;
      flex-basis: 15%;
      border-radius: 0 3rem 3rem 0;
      padding: 0 0 0 5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2rem;
      letter-spacing: 0.2rem; }
      .output-box__display__total--income-value {
        flex-basis: 60%; }
      .output-box__display__total--income-icon {
        display: flex;
        flex-basis: 20%;
        justify-content: center;
        align-items: center; }
        .output-box__display__total--income-icon ion-icon:first-of-type {
          font-size: 4rem; }
        .output-box__display__total--income-icon ion-icon:last-of-type {
          font-size: 2rem; }
    .output-box__display__total--expense {
      width: 55%;
      background: linear-gradient(to right, #f9676a, #ff8789);
      align-self: flex-end;
      flex-basis: 15%;
      border-radius: 3rem 0 0 3rem;
      padding: 0 5rem 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2rem;
      letter-spacing: 0.2rem; }
      .output-box__display__total--expense-value {
        display: block;
        flex-basis: 60%;
        text-align: right; }
      .output-box__display__total--expense-icon {
        display: flex;
        flex-basis: 20%;
        justify-content: center;
        align-items: center; }
        .output-box__display__total--expense-icon ion-icon:first-of-type {
          font-size: 2rem; }
        .output-box__display__total--expense-icon ion-icon:last-of-type {
          font-size: 4rem; }
  .output-box__entry {
    display: flex;
    flex-basis: 40%;
    padding: 0 5rem;
    flex-direction: column;
    justify-content: center; }
    .output-box__entry__button {
      display: flex;
      justify-content: flex-start;
      flex-basis: 10%;
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      font-weight: 900; }
      .output-box__entry__button--income {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: #122a95;
        border: 1px solid #122a95;
        border-radius: 3rem;
        margin-right: 2rem;
        transition: all 0.2s; }
      .output-box__entry__button--expense {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: #f9676a;
        border: 1px solid #f9676a;
        border-radius: 3rem;
        transition: all 0.2s; }
      .output-box__entry__button input {
        display: none; }
      .output-box__entry__button input:checked + .output-box__entry__button--income {
        background-color: #122a95;
        color: #ffffff; }
      .output-box__entry__button input:checked + .output-box__entry__button--expense {
        background-color: #f9676a;
        color: #ffffff; }
    .output-box__entry__input-name {
      flex-basis: 15%;
      font-size: 1.3rem;
      margin: 0 0 1rem 0;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      border: 1px solid #aba5b4;
      outline: none; }
    .output-box__entry__input-value {
      flex-basis: 15%;
      font-size: 1.3rem;
      margin: 0 0 1rem 0;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      border: 1px solid #aba5b4;
      outline: none; }
    .output-box__entry__submit {
      flex-basis: 15%;
      width: 30%;
      align-self: flex-end;
      text-transform: uppercase;
      border: 1px solid #1ba9e9;
      background-color: #ffffff;
      color: #1ba9e9;
      border-radius: 3rem;
      outline: none;
      transition: all 0.2s; }
      .output-box__entry__submit:focus {
        border: 2px solid #00a3ee; }
      .output-box__entry__submit:hover {
        background-color: #1ba9e9;
        color: #ffffff; }

.expense-box {
  background-color: #ff8789;
  width: 40%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden; }
  .expense-box__heading {
    width: 85%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9676a; }
    .expense-box__heading--text {
      font-size: 4rem;
      padding-left: 10%;
      text-transform: uppercase; }
  .expense-box__items {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    width: 70%;
    align-self: flex-end;
    overflow: auto; }
    .expense-box__items-1 {
      position: relative;
      flex-basis: 8%;
      background-color: #f9676a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1%;
      width: 100%;
      padding: 0.5rem 3rem;
      font-size: 1.5rem;
      border-radius: 3rem 0 0 3rem;
      animation: slide-up 0.4s ease; }
      .expense-box__items-1--description {
        max-width: 50%;
        display: inline-block;
        overflow-wrap: break-word; }
      .expense-box__items-1--value {
        max-width: 45%;
        transition: all 0.4s; }
      .expense-box__items-1--delete {
        position: absolute;
        top: 55%;
        right: 5%;
        transform: translateY(-50%);
        font-size: 2rem;
        opacity: 0;
        transition: all 0.4s; }
      .expense-box__items-1:hover {
        background-color: #dd3a3d; }
      .expense-box__items-1:hover .expense-box__items-1--value {
        transform: translateX(-3rem); }
      .expense-box__items-1:hover .expense-box__items-1--delete {
        opacity: 1; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
