$swatch_1: #eceaf1;
$swatch_2: #100a5b;
$swatch_3: #aba5b4;
$swatch_4: #f8d7ad;
$swatch_5: #747091;
$swatch_6: #be6471;
$swatch_7: #2d429d;
$swatch_8: #3d373a;

// cornor radius
$corner: 3rem;

// padding
$padding-medium: 5rem;
