$color-grey-light: #eceaf1;
$color-grey-medium: #aba5b4;
$color-grey-dark: #747091;

$color-white: #ffffff;

$color-income: #2d429d;
$color-income-dark: #122a95;

$color-expense: #ff8789;
$color-expense-dark: #f9676a;

$color-lavender: #f8d7ad;
$color-lavender-light: #F8D7AD96;

$color-button: #1ba9e9;

$color-black: #000;

// cornor radius
$corner: 3rem;

// padding
$padding-medium: 5rem;
