* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	position: relative;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: $color-grey-light;
	color: $color-white;
}
