.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120rem;
	height: 90vh;
	transform: translate(-50%, -50%);
	border-radius: $corner;
	display: flex;
	justify-content: space-between;
}

.income-box {
	background-color: $color-income;
	width: 40%;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;

	&__heading {
		width: 85%;
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-income-dark;

		&--text {
			font-size: 4rem;
			text-transform: uppercase;
		}
	}
}

.output-box {
	position: absolute;
	left: 50%;
	width: 40%;
	height: 100%;
	transform: translate(-50%);
	background-color: $color-white;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__display {
		display: flex;
		flex-basis: 60%;
		flex-direction: column;
		justify-content: space-around;
		background-color: $color-white;

		&__date {
			width: 40%;
			background-color: $color-grey-light;
			align-self: flex-start;
			flex-basis: 10%;
			border-radius: 0 $corner $corner 0;
		}

		&__screen {
			width: 60%;
			background: radial-gradient($color-lavender, $color-lavender, $color-white);
			align-self: center;
			flex-basis: 20%;
			border-radius: 5rem;
		}

		&__total {
			&--income {
				width: 55%;
				background: linear-gradient(to right bottom, $color-income, $color-income, $color-white);
				align-self: flex-start;
				flex-basis: 15%;
				border-radius: 0 $corner $corner 0;
			}

			&--expense {
				width: 55%;
				background: linear-gradient(to right bottom, $color-white, $color-expense, $color-expense);
				align-self: flex-end;
				flex-basis: 15%;
				border-radius: $corner 0 0 $corner;
			}
		}
	}

	&__entry {
		display: flex;
		flex-basis: 40%;
		padding: 0 5rem;
		flex-direction: column;
		justify-content: space-around;

		&__button {
			display: flex;
			justify-content: flex-start;

			&--income {
				padding: 0.4rem 1.5rem;
				font-size: 1.3rem;
				color: #000;
				border: 1px solid #000;
				border-radius: $corner;
			}

			&--expense {
				padding: 0.4rem 1.5rem;
				font-size: 1.3rem;
				color: #000;
				border: 1px solid #000;
				border-radius: $corner;
			}
		}
	}
}

.expense-box {
	background-color: $color-expense;
	width: 40%;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	overflow: hidden;

	&__heading {
		width: 85%;
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-expense-dark;

		&--text {
			font-size: 4rem;

			padding-left: 10%;
			text-transform: uppercase;
		}
	}
}
