.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120rem;
	height: 90vh;
	transform: translate(-50%, -50%);
	border-radius: $corner;
	display: flex;
	justify-content: space-between;
}

.income-box {
	background-color: $color-income;
	width: 40%;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;

	&__heading {
		width: 85%;
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-income-dark;

		&--text {
			font-size: 4rem;
			text-transform: uppercase;
		}
	}

	&__items {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-basis: 80%;
		width: 70%;
		align-self: flex-start;
		overflow: auto;
		cursor: default;

		&-1 {
			position: relative;
			flex-basis: 8%;
			background-color: $color-income-dark;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1%;
			width: 100%;
			padding: 0.5rem $padding-small;
			font-size: 1.5rem;
			border-radius: 0 $corner $corner 0;

			&--description {
			}

			&--value {
				transition: all 0.4s;
			}

			&--delete {
				position: absolute;
				top: 55%;
				right: 5%;
				transform: translateY(-50%);
				font-size: 2rem;
				opacity: 0;
				transition: all 0.4s;
			}

			&:hover {
				background-color: $color-income-darkest;
			}

			&:hover &--value {
				transform: translateX(-3rem);
			}

			&:hover &--delete {
				opacity: 1;
			}
		}
	}
}

.output-box {
	position: absolute;
	left: 50%;
	width: 40%;
	height: 100%;
	transform: translate(-50%);
	background-color: $color-white;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__display {
		display: flex;
		flex-basis: 60%;
		flex-direction: column;
		justify-content: space-around;
		background-color: $color-white;

		&__date {
			width: 40%;
			background-color: $color-grey-light;
			align-self: flex-start;
			flex-basis: 10%;
			border-radius: 0 $corner $corner 0;
			color: $color-grey-dark;
			padding: 0 5rem;
			display: flex;
			align-items: center;
			font-size: 1.2rem;
		}

		&__screen {
			width: 60%;
			background: $color-lavender;
			align-self: center;
			flex-basis: 20%;
			border-radius: 5rem;
			color: $color-grey-dark;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 4rem;
			font-weight: 300;

			&-icon {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-basis: 20%;
				font-size: 1.5rem;

				& ion-icon {
					font-size: 3rem;
				}
			}

			&-value {
				display: flex;
				flex-basis: 60%;
				justify-content: center;
			}
		}

		&__total {
			&--income {
				width: 55%;
				background: linear-gradient(to right, $color-income, $color-income-dark);
				align-self: flex-start;
				flex-basis: 15%;
				border-radius: 0 $corner $corner 0;
				padding: 0 0 0 5rem;
				display: flex;
				align-items: center;
				justify-content: space-around;
				font-size: 2rem;
				letter-spacing: 0.2rem;

				&-value {
					flex-basis: 60%;
				}

				&-icon {
					display: flex;
					flex-basis: 20%;
					// font-size: 2rem;
					justify-content: center;
					align-items: center;

					& ion-icon:first-of-type {
						font-size: 4rem;
					}

					& ion-icon:last-of-type {
						font-size: 2rem;
					}
				}
			}

			&--expense {
				width: 55%;
				background: linear-gradient(to right, $color-expense-dark, $color-expense);
				align-self: flex-end;
				flex-basis: 15%;
				border-radius: $corner 0 0 $corner;
				padding: 0 5rem 0 0;
				display: flex;
				align-items: center;
				justify-content: space-around;
				font-size: 2rem;
				letter-spacing: 0.2rem;

				&-value {
					display: block;
					flex-basis: 60%;
					text-align: right;
				}

				&-icon {
					display: flex;
					flex-basis: 20%;
					// font-size: 2rem;
					justify-content: center;
					align-items: center;

					& ion-icon:first-of-type {
						font-size: 2rem;
					}

					& ion-icon:last-of-type {
						font-size: 4rem;
					}
				}
			}
		}
	}

	&__entry {
		display: flex;
		flex-basis: 40%;
		padding: 0 5rem;
		flex-direction: column;
		justify-content: center;

		&__button {
			display: flex;
			justify-content: flex-start;
			flex-basis: 10%;
			margin: 0 0 1rem 0;
			text-transform: uppercase;
			font-weight: 900;

			&--income {
				padding: 0.5rem 1rem;
				font-size: 1.2rem;
				color: $color-income-dark;
				border: 1px solid $color-income-dark;
				border-radius: $corner;
				margin-right: 2rem;
				transition: all 0.2s;
			}

			&--expense {
				padding: 0.5rem 1rem;
				font-size: 1.2rem;
				color: $color-expense-dark;
				border: 1px solid $color-expense-dark;
				border-radius: $corner;
				transition: all 0.2s;
			}

			& input {
				display: none;
			}

			& input:checked + &--income {
				background-color: $color-income-dark;
				color: $color-white;
			}

			& input:checked + &--expense {
				background-color: $color-expense-dark;
				color: $color-white;
			}
		}

		&__input-name {
			flex-basis: 15%;
			font-size: 1.3rem;
			margin: 0 0 1rem 0;
			padding: 0.5rem 1rem;
			border-radius: $corner;
			border: 1px solid $color-grey-medium;
			outline: none;
		}

		&__input-value {
			flex-basis: 15%;
			font-size: 1.3rem;
			margin: 0 0 1rem 0;
			padding: 0.5rem 1rem;
			border-radius: $corner;
			border: 1px solid $color-grey-medium;
			outline: none;
		}

		&__submit {
			flex-basis: 15%;
			width: 30%;
			align-self: flex-end;
			text-transform: uppercase;
			border: 1px solid $color-button;
			background-color: $color-white;
			color: $color-button;
			border-radius: $corner;
			outline: none;
			transition: all 0.2s;

			&:hover {
				background-color: $color-button;
				color: $color-white;
			}
		}
	}
}

.expense-box {
	background-color: $color-expense;
	width: 40%;
	border-radius: $corner;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	overflow: hidden;

	&__heading {
		width: 85%;
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-expense-dark;

		&--text {
			font-size: 4rem;

			padding-left: 10%;
			text-transform: uppercase;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		flex-basis: 80%;
		width: 70%;
		align-self: flex-end;
		overflow: auto;

		&-1 {
			position: relative;
			flex-basis: 8%;
			background-color: $color-expense-dark;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1%;
			width: 100%;
			padding: 0.5rem $padding-small;
			font-size: 1.5rem;
			border-radius: $corner 0 0 $corner;

			&--description {
			}

			&--value {
				transition: all 0.4s;
			}

			&--delete {
				position: absolute;
				top: 55%;
				right: 5%;
				transform: translateY(-50%);
				font-size: 2rem;
				opacity: 0;
				transition: all 0.4s;
			}

			&:hover {
				background-color: $color-expense-darkest;
			}

			&:hover &--value {
				transform: translateX(-3rem);
			}

			&:hover &--delete {
				opacity: 1;
			}
		}
	}
}
